---
layout: page
title: Li Fangming
---
<div id="intro">
	<p>I'm Li Fangming (<i>李方明</i>), a Beijing based iOS/Web designer and frontend developer. A idealist, music addict, <a href="http://en.wikipedia.org/wiki/Great_Firewall" class="gfw" title="Great Firewall">GFW</a> crossover jumper.</p>
</div>

<div id="postlist">
	{% for post in paginator.posts %}
	<div class="post">
		<h2><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h2>
		<div class="summary">{{ post.excerpt }}</div>
	</div>
	{% endfor %}
</div>

<div id="list">
	<ul>
		{% for post in paginator.posts %}
		<li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a> <time>{{ post.date | date_to_string }}</time></li>
		{% endfor %}
		<li class="more"><a href="archive.html">查看所有文章</a></li>
	</ul>
</div>