@font-face{font-family:'fontello';src:url('../../../fonts/fontello.eot?92932617');src:url('../../../fonts/fontello.eot?92932617#iefix') format('embedded-opentype'),url('../../../fonts/fontello.woff?92932617') format('woff'),url('../../../fonts/fontello.ttf?92932617') format('truetype'),url('../../../fonts/fontello.svg?92932617#fontello') format('svg');font-weight:normal;font-style:normal}*{margin:0;padding:0}
.l{float:left}
.r{float:right}
.icon{font-family:"fontello";font-style:normal;font-weight:normal;speak:none}
body{font:12px/1.5 Lora,Merriweather,Georgia,"Times New Roman","Hiragino Sans GB",serif}
a{transition:all .5s}
#wrapper{margin:0 auto;width:700px}
#header{height:60px;border-bottom:1px solid #f1f3f5}
#footer{margin-top:30px;padding:30px 0;border-top:1px solid #f1f3f5;color:#ced8e2}#footer a{color:#ced8e2;text-decoration:none}
#footer a:hover{color:#274886}
#footer ul{height:2em}
#footer li{padding-right:1em;list-style:none;float:left}
.logo{float:left}.logo a{width:80px;height:70px;background:url(../images/sign.png) no-repeat 0 100%;background-size:80px 51px;line-height:210px;overflow:hidden;opacity:.9;float:left}
.logo a:hover{opacity:1}
.menu{padding-top:36px;text-transform:uppercase;float:right}.menu li{padding-left:20px;list-style:none;float:left}
.menu a{color:#878c93;text-decoration:none}
.menu a:hover{color:#274886}
#intro{padding:2em 0 0;font-size:26px;font-family:;font-weight:300;color:#878c93}#intro i{font-size:26px;font-style:normal;font-family:Songti,SimSun,serif}
#intro a{color:#999;text-decoration:none}
#intro a:hover{color:#717171}
#intro .gfw{cursor:help}
.pagetitle{padding:2em 0 0;font-size:26px;font-weight:300;color:#878c93;text-align:center}
#list{font-size:22px}#list li{padding:9px 0;list-style:none}
#list time{color:#ced8e2;font-style:italic;font-size:18px;font-weight:300}
#list a{color:#355fae;text-decoration:none;border-bottom:1px solid #f1f3f5}
#list a:hover{color:#274886;border-bottom-color:#ced8e2}
#list .more{font-size:18px}
#list .more:before{padding-right:10px;content:"a";color:#f1f3f5;font-family:"fontello";font-style:normal;font-weight:normal;speak:none}
#archive{margin-top:30px;font-size:14px;-webkit-columns:2;-webkit-column-rule:1px solid #f1f3f5;-webkit-column-gap:3em;-moz-columns:2;-moz-column-rule:1px solid #f1f3f5;-moz-column-gap:3em;columns:2;column-rule:1px solid #f1f3f5;column-gap:3em}#archive li{clear:both;list-style:none;color:#fff;line-height:1.8}
#archive a{color:#355fae;text-decoration:none;border-bottom:1px solid #f1f3f5}
#archive a:hover{color:#274886;border-bottom-color:#ced8e2}
#archive h2{margin-top:1em;font-size:14px;color:#878c93}
#archive h2:first-child{margin-top:0}
#archive h3{display:none}
.archive li{padding-left:110px}
.archive span{float:left;margin-left:-110px;width:110px;color:#ced8e2;white-space:nowrap;font-weight:200;font-size:13px;overflow:hidden}
.tagbox{padding:40px 0 10px}.tagbox li{float:left;height:26px;padding-right:1em;list-style:none;white-space:nowrap;line-height:26px;overflow:hidden}
.tagbox a{text-decoration:none;color:#878c93}
.tagbox a:hover{color:#274886}
.tagbox:after{content:'.';clear:both;display:block;visibility:hidden}
.tag-1,.tag-2{font-size:14px}
.tag-3,.tag-4{font-size:15px}
.tag-5,.tag-6{font-size:16px}
.tag-7,.tag-8{font-size:17px}
.tag-9,.tag-10{font-size:18px}
.tag-11,.tag-12{font-size:19px}
.tag-13,.tag-14{font-size:20px}
.tag-15,.tag-16{font-size:21px}
#content{padding-top:30px}#content h1{font-size:26px;font-weight:700;color:#222}
#content .post h2{padding-top:1em;font-size:26px;font-weight:700}#content .post h2 a{color:#222}
#content .post h2 a:hover{color:#274886}
#content .posttag{float:right}#content .posttag li{list-style:none;display:inline}
#content .meta{color:#878c93}#content .meta a{color:#878c93}
#content .meta a:hover{color:#274886}
#content .meta a[rel="permalink"]:before,#content .meta .more:before{padding:0 5px 0 10px;content:"p";font-family:"fontello";font-style:normal;font-weight:normal;speak:none}
#content .body{padding-top:20px;color:#444;font-size:16px}#content .body ul,#content .body ol{padding:0 0 1em 2em}
#content h2,#content h3,#content h4,#content h5,#content h6{margin-bottom:.8em;font-size:#222}
#content p{margin-bottom:1em}
#content blockquote{margin:0 1em 1em .5em;padding-left:1em;border-left:4px solid #f1f3f5;color:#878c93}
#content pre{margin-bottom:1em;padding:1em;border-left:2px solid #ced8e2;background:#f1f3f5;font-size:14px;color:#614992;line-height:1.4}
#content code{font-family:Monaco,Menlo,"Courier New",monospace}
#content a{color:#355fae;text-decoration:none}
#content a:hover{color:#274886}
#content img{max-width:700px}
#content .nav{padding-top:20px;height:60px;font-size:16px}#content .nav em{display:block;color:#878c93;font-style:normal;font-size:12px}
#content .nav a{padding:10px;border-radius:5px}
#content .nav a:hover{background:#f1f3f5}
#content .previous{float:left;padding-left:30px !important}
#content .previous:before{content:"l";margin:5px 0 0 -20px;font-size:22px;font-family:"fontello";font-style:normal;font-weight:normal;speak:none;float:left}
#content .next{padding-right:30px !important;text-align:right;float:right}
#content .next:before{content:"r";margin:5px -20px 0 0;font-size:22px;font-family:"fontello";font-style:normal;font-weight:normal;speak:none;float:right}
