@font-face{font-family:'iconfont';src:url('../../../fonts/fangming.eot?20130824');src:url('../../../fonts/fangming.eot?20130824#iefix') format('embedded-opentype'),url('../../../fonts/fangming.woff?20130824') format('woff'),url('../../../fonts/fangming.ttf?20130824') format('truetype'),url('../../../fonts/fangming.svg?20130824#iconfont') format('svg');font-weight:normal;font-style:normal}*{margin:0;padding:0}
.l{float:left}
.r{float:right}
.clear:after{content:" ";display:table;clear:both}
.icon{font-family:"iconfont";font-style:normal;font-weight:normal;speak:none}
body{font:12px/1.5 Merriweather,Palatino,"Palatino Linotype",Georgia,"Times New Roman","Hiragino Sans GB",serif}
a{transition:all .5s}
#wrapper{position:relative;margin:0 auto;padding-left:200px;width:500px}
#header{position:fixed;margin-left:-200px;top:90px}#header ul{padding-left:20px;line-height:2}
#header li{list-style:none;text-transform:uppercase}#header li a{color:#878c93;text-decoration:none}
#header li a:hover{color:#274886}
#header li a:before{padding-right:10px;text-transform:lowercase;font-family:"iconfont";font-style:normal;font-weight:normal;speak:none}
#header li a[href*="about"]:before{content:"a"}
#header li a[href*="twitter"]:before{content:"t"}
#header li a[href*="weibo"]:before{content:"w"}
#header li a[href*="dribbble"]:before{content:"d";font-size:12px}
.logo a{width:160px;height:70px;line-height:90px;font-size:70px;text-decoration:none;letter-spacing:-20px;text-indent:-20px;color:#111;font-family:"iconfont";font-style:normal;font-weight:normal;speak:none}
.logo a:hover{color:#274886}
#menu{height:60px;border-bottom:1px solid #f1f3f5}#menu ul{padding-top:36px;text-transform:uppercase;float:right}
#menu li{padding-left:20px;list-style:none;float:left}
#menu a{color:#878c93;text-decoration:none}
#menu a:hover{color:#274886}
#footer{margin-top:30px;padding:30px 0;border-top:1px solid #f1f3f5;color:#ced8e2}#footer a{color:#ced8e2;text-decoration:none}
#footer a:hover{color:#274886}
#footer ul{height:2em}
#footer li{padding-right:1em;list-style:none;float:left}
#intro{padding:2em 0 0;font-size:26px;font-family:;font-weight:300;color:#878c93}#intro i{font-size:26px;font-style:normal;font-family:STSong,SimSun,serif}
#intro a{color:#999;text-decoration:none}
#intro a:hover{color:#717171}
#intro .gfw{cursor:help}
.pagetitle{padding:2em 0 0;font-size:26px;font-weight:300;color:#878c93}
#list{font-size:22px}#list li{padding:9px 0;list-style:none}
#list time{color:#ced8e2;font-style:italic;font-size:18px;font-weight:300}
#list a{color:#355fae;text-decoration:none;border-bottom:1px solid #f1f3f5}
#list a:hover{color:#274886;border-bottom-color:#ced8e2}
#list .more{font-size:18px}
#list .more:before{padding-right:10px;content:"a";color:#f1f3f5;font-family:"iconfont";font-style:normal;font-weight:normal;speak:none}
#archive{margin-top:30px;font-size:14px;-webkit-columns:2;-webkit-column-rule:1px solid #f1f3f5;-webkit-column-gap:3em;-moz-columns:2;-moz-column-rule:1px solid #f1f3f5;-moz-column-gap:3em;columns:2;column-rule:1px solid #f1f3f5;column-gap:3em}#archive li{clear:both;list-style:none;color:#fff;line-height:1.8}
#archive a{color:#355fae;text-decoration:none;border-bottom:1px solid #f1f3f5}
#archive a:hover{color:#274886;border-bottom-color:#ced8e2}
#archive h2{margin-top:1em;font-size:14px;color:#878c93}
#archive h2:first-child{margin-top:0}
#archive h3{display:none}
.archive li{padding-left:50px}
.archive span{float:left;margin-left:-50px;width:45px;color:#ced8e2;white-space:nowrap;font-weight:200;font-size:13px;overflow:hidden}
.tagbox{padding:40px 0 10px}.tagbox li{float:left;height:26px;padding-right:1em;list-style:none;white-space:nowrap;line-height:26px;overflow:hidden}
.tagbox a{text-decoration:none;color:#878c93}
.tagbox a:hover{color:#274886}
.tagbox .tag-1,.tagbox .tag-2{font-size:14px}
.tagbox .tag-3,.tagbox .tag-4{font-size:15px}
.tagbox .tag-5,.tagbox .tag-6{font-size:16px}
.tagbox .tag-7,.tagbox .tag-8{font-size:17px}
.tagbox .tag-9,.tagbox .tag-10{font-size:18px}
.tagbox .tag-11,.tagbox .tag-12{font-size:19px}
.tagbox .tag-13,.tagbox .tag-14{font-size:20px}
.tagbox .tag-15,.tagbox .tag-16{font-size:21px}
.tagbox:after{content:'.';clear:both;display:block;visibility:hidden}
#content{padding-top:50px}#content h1{font-size:26px;font-weight:700;color:#222}
#content .post h2{padding-top:1em;font-size:26px;font-weight:700}#content .post h2 a{color:#222}
#content .post h2 a:hover{color:#274886}
#content .posttag{font-size:12px;float:right}#content .posttag li{padding-left:.5em;list-style:none;display:inline}
#content .posttag a{color:#878c93}
#content .meta{color:#878c93}#content .meta a{color:#878c93}
#content .meta a:hover{color:#274886}
#content .meta a[rel="permalink"]:before,#content .meta .more:before{padding:0 5px 0 10px;font-size:10px;content:"p";font-family:"iconfont";font-style:normal;font-weight:normal;speak:none}
#content .body{padding-top:40px;color:#444;font-size:14px}#content .body ul,#content .body ol{padding:0 0 1em 2em}
#content .body h2,#content .body h3,#content .body h4,#content .body h5,#content .body h6{margin-bottom:.8em}
#content .body h2{font-size:16px;color:#222}
#content .body h3,#content .body h4{font-size:16px;color:#878c93}
#content .body h5,#content .body h6{font-size:16px;color:#878c93}
#content .post .body{padding-top:20px}
#content p{margin-bottom:.8em}
#content blockquote{margin:0 1em 1em .5em;padding-left:1em;border-left:4px solid #f1f3f5;color:#878c93}
#content pre{margin-bottom:1em;padding:1em;border-left:2px solid #ced8e2;background:#f1f3f5;font-size:12px;color:#614992;line-height:1.4}
#content code{padding:0 5px;background:#f1f3f5;font-family:Monaco,Menlo,"Courier New",monospace}
#content pre code{padding:0;background:transparent}
#content hr{margin:20px 0 30px;height:1px;border:none;background:#f1f3f5}
#content a{color:#355fae;text-decoration:none}
#content a:hover{color:#274886}
#content img{max-width:500px}
#content .nav{padding-top:20px;height:60px;font-size:16px;white-space:nowrap}#content .nav em{display:block;color:#878c93;font-style:normal;font-size:12px}
#content .nav a{padding:10px;border-radius:5px}
#content .nav a:hover{background:#f1f3f5}
#content .previous{float:left;padding-left:20px !important}
#content .previous:before{content:"l";margin:-6px 0 0 -15px;font-size:22px;font-family:"iconfont";font-style:normal;font-weight:normal;speak:none;float:left}
#content .next{padding-right:20px !important;text-align:right;float:right}
#content .next:before{content:"r";margin:-6px -15px 0 0;font-size:22px;font-family:"iconfont";font-style:normal;font-weight:normal;speak:none;float:right}
#content .postnav a:before{margin-top:5px !important}
.wishlist-done{font-style:italic;color:#f1f3f5}.wishlist-done del{text-decoration:none;color:#878c93}
