*{margin:0;padding:0}
.l{float:left}
.r{float:right}
body{font:12px/1.5 Lora,Merriweather,Georgia,"Times New Roman","Hiragino Sans GB",serif}
a{transition:all .5s}
#wrapper{margin:0 auto;width:700px}
#header{height:60px;border-bottom:1px solid #f1f3f5}
#footer{padding:30px 0;color:#ced8e2}#footer a{color:#ced8e2;text-decoration:none}
#footer a:hover{color:#274886}
.logo{float:left}.logo a{width:80px;height:70px;background:url(../images/sign.png) no-repeat 0 100%;background-size:80px 51px;line-height:210px;overflow:hidden;opacity:.9;float:left}
.logo a:hover{opacity:1}
.menu{padding-top:36px;text-transform:uppercase;float:right}.menu li{padding-left:20px;list-style:none;float:left}
.menu a{color:#878c93;text-decoration:none}
.menu a:hover{color:#274886}
#intro{padding:2em 0;font-size:26px;font-family:;font-weight:300;color:#878c93}#intro i{font-size:26px;font-style:normal;font-family:Songti,SimSun,serif}
#intro a{color:#999;text-decoration:none}
#intro a:hover{color:#717171}
#intro .gfw{cursor:help}
#list{font-size:22px}#list li{padding:9px 0;list-style:none}
#list time{color:#ced8e2;font-style:italic;font-size:18px;font-weight:300}
#list a{color:#355fae;text-decoration:none;border-bottom:1px solid #f1f3f5}
#list a:hover{color:#274886;border-bottom-color:#ced8e2}
#list h2,#list h3{font-size:20px;color:#878c93}
#list h2{float:right;color:#f1f3f5}
.archive,.taglist,.categories{padding-top:30px}.archive li,.taglist li,.categories li{clear:both;color:#fff}
.archive span,.taglist span,.categories span{float:left;width:200px;color:#ced8e2;white-space:nowrap;font-weight:200;font-size:18px;overflow:hidden}
#content{padding-top:30px}#content h1{font-size:26px;font-weight:700;color:#222}
#content .meta{color:#878c93}#content .meta a{color:#878c93}
#content .meta a:hover{color:#274886}
#content .body{padding-top:20px;color:#444;font-size:16px}
#content p{margin-bottom:1em}
#content blockquote{margin:0 1em 1em .5em;padding-left:1em;border-left:4px solid #f1f3f5;color:#878c93}
#content pre{padding:1em;border-left:2px solid #ced8e2;background:#f1f3f5;font-size:14px;color:#614992;line-height:1.4}
#content code{font-family:Monaco,Menlo,"Courier New",monospace}
#content a{color:#355fae;text-decoration:none}
#content a:hover{color:#274886}
#content .nav{padding-top:20px;height:60px;font-size:16px}#content .nav em{display:block;color:#878c93;font-style:normal;font-size:12px}
#content .nav a{padding:10px;border-radius:5px}
#content .nav a:hover{background:#f1f3f5}
#content .previous{float:left}
#content .next{text-align:right;float:right}
